.cd{
    background-color:rgba(19, 18, 18, 0.808);
    text-align: right;
    color: #c68dea;
    display: flex;
    margin-left: -50px;
     width: 1400px;
    margin-top: 20px;
    height:30px;
    height:45px;
}
li{
    list-style-type:none;
   display: inline-block;
}
ul{
    font-style:normal ;
    display: flex;
    flex-direction: row;   
}

.yy{
    background-color:rgb(224, 224, 224);
    text-align: center;
    color: beige;
    height:545px;
    width:1400px;
    margin-left:-50px;
   /* margin-top: -10px;
   /* display: flex;*/
}

.call4{
    /* border: cm;*/
   margin:12px;
    background-color:rgb(224, 224, 224);
   /* text-align: center;*/
    vertical-align: 70px;
    height:450px;
   /* padding-left:400px;
    padding:10px;
    padding-top:-200px;*/
    margin-top:65px;
    width: 600px;
    margin-left:140px;
    
 }
 .ma{
    width:1250px;
    display: flex;
   flex-direction: row;
   float: left;
   vertical-align: 50px;
   height:100px;
   text-align: center;
   
}

.oi{ 
    /* background-color:mediumorchid;*/
     text-align: right;
     color: beige;
     height:200px; 
    /* display: flex;
     flex-direction:row;*/
    margin-top:30px;
    margin-left:-50px;
    width: 1210px;
 }
 .call5{
    border: 50cm;
   background-color:white;
  padding:-20px;
   text-align: center;
   width:430px;
   margin-top:40px;
   margin-left:-200px;
   //border-radius: 10px;
   height:150px;
   display: flex;
   flex-direction:row;
   border-radius:30px;

}

.sd{
    background-color:rgb(243, 243, 243);
    text-align: center;
    color: beige;
    height:590px; 
   /* display: flex;*/

}
.mi{
    width:1250px;
    display: flex;
   flex-direction: row;
   float: left;
   vertical-align: 50px;
   height:100px;
   text-align: center;
   
}

.call3{
    /* border: cm;*/
  /* margin:12px;*/
    background-color:rgb(243, 243, 243);
   /* text-align: center;*/
    vertical-align: 70px;
    height:450px;
    /*padding-left:420px;*/
    padding:50px;
    padding-top:-200px;
    margin-left:15px;
    
 }
 .ss{
    background-color:rgb(224, 224, 224);
    text-align: center;
    color: beige;
    height:100px; 
   /* display: flex;*/

 }
 .me{
    width:1250px;
    display: flex;
   flex-direction: row;
   float: left;
   vertical-align: 50px;
   height:50px;
   text-align: center;
   
 }
  .call2{
     /* border: cm;*/
  /* margin:12px;*/
  background-color:rgb(224, 224, 224);
  /* text-align: center;*/
   vertical-align: 70px;
   height:150px;
   /*padding-left:420px;*/
   padding:50px;
   padding-top:-200px;
   margin-left:15px;
   
  }
  .nn{
    color: green;
}

.st{
    background-color:white;
    text-align: center;
    color: beige;
    height:950px; 
   /* display: flex;*/
}

.ga{
    height:300px;
  /* text-align: center;*/
    background-color: black;
}
.call9{
    margin: 20px;
    padding-left: 60px;
}

.rond7{
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    padding:5px;
   background-color:white;
   width:30px;
   height:30px;
}

.call10{
  /*  margin: 20px;*/
    padding-left: 60px;
}

