<!DOCTYPE html>
<head>
    <title> page-accueil</title>
</head>
<html>
    <body>
        <div class="cd">
            <div >
                    <li > <img src="assets/logo2.jpg"  style=" width:170px; height:35px; margin-top:7px; margin-left:100px;"> </li>
                    <li style="margin-left:400px ; font-size:16px; "> <a routerLink="/page-accueil" style="text-decoration: none; color: white;">page-accueil </a></li>
                    <li style="margin-left: 35px; font-size: 16px; ;"><a routerLink ="/Interventions" style="text-decoration:  none;color: white; "> Interventions </a></li>
                    <li style="margin-left: 35px; font-size: 16px; "> <a routerLink="/Statisques" style="text-decoration:  none; color: white;">  Statistiques</a></li>
                    <li style="margin-left: 40px; font-size: 16px; "> <a routerLink="/Nos services" style="text-decoration:  none; color: white;">  Aides </a></li>
                    <li style="margin-left: 35px; font-size: 16px;"> <a routerLink="A propos" style="text-decoration:  none; color: white;">A propos </a></li>
                    <li style=" margin-left:35px; font-size: 16px;"> <a routerLink="/Mon compte" style="text-decoration:  none; color: white;">Mon compte  <img  src="assets/compte.png" style="height:15px; width: 15px; margin-left:10px;"></a></li>
                    
            </div>
        </div>
        <div class="yy">
           <div >
            <ul class="ma">
                <div class="call4" > <h3> <strong style="color: black;"> Projet web déployé sur vercel via Github Action </strong></h3> 
                
                    <div class="ss" style="margin-left:-60px;">
                    
                       <div >
                        <ul class="me">
            
                             <div class="call2" >  <h1 style=" font-size: 20px;"> <strong style="color:black;"> NOM ET NIVEAU </strong> </h1> <div style="width:550px;margin-right:30px; text-align: justify; padding-top:50px; color: black;">  
                                <li> <img src="assets/cx.png"  style=" width:50px; height:50px; margin-top:-70PX ; margin-left:20px;"> <p style=" margin-left: 80px; margin-top:-60px; color: black;"> NOM ET PRENOM : <strong>MASSEHE TAGOUFFO VANESSA</strong> </p> </li>
                                <li> <img src="assets/hi.jpg"  style=" width:50px; height:50px; margin-top:40px; margin-left:20px;"> <p style=" margin-left: 80px; margin-top:-40px; color: black"> NIVEAU:<strong style="margin-left:10px;">ING 4ISI</strong> </p></li>
                 
                            </div></div>
                            </ul>
                      </div>
                    </div>
            </div>
                 <div class="call4"> <div style="padding-top:-200px; display: flex; flex-direction: row; " ><img src=" assets/vas.webp" style="width:200px; height:385px; padding-top:-200px; margin-left:-100px; border-radius:1100px;" > </div></div>
                </ul>
          </div>

        </div>


        

    <div style="height:60px; background-color: rgb(26, 26, 26)">
         <ul>
              <div style="margin-top:10px; color: white;"> Copyright@ Institut Saint Jean</div>
         </ul>
         <ul> 
            <div class ="call10"  style="text-align:justif;  margin-left:1000px; margin-top:-65px;"> <br > <li class="rond7">f</li> <li class="rond7">tw</li> <li class="rond7">g+</li> <li class="rond7"> in</li>  </div>

         </ul>
    </div>

    


    </body>
   
</html>





